In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("fun.csv", encoding="cp949")
df

   기수  상반기  모집인원    D4   지원자
0   1    1   500  1116  6004
1   2    0   500   500  3846
2   3    1   750   844  7260
3   4    0   500   717  6274
4   5    1   750   580  6704
5   6    0   900   705     0

In [38]:
df = df.drop([5])
df

   기수  상반기  모집인원    D4   지원자
0   1    1   500  1116  6004
1   2    0   500   500  3846
2   3    1   750   844  7260
3   4    0   500   717  6274
4   5    1   750   580  6704

In [5]:
import statsmodels.api as sm

In [39]:
# X = df[['기수','상반기','모집인원']].values
X = df[['기수','상반기','D4']].values
X = sm.add_constant(X)
X

array([[1.000e+00, 1.000e+00, 1.000e+00, 1.116e+03],
       [1.000e+00, 2.000e+00, 0.000e+00, 5.000e+02],
       [1.000e+00, 3.000e+00, 1.000e+00, 8.440e+02],
       [1.000e+00, 4.000e+00, 0.000e+00, 7.170e+02],
       [1.000e+00, 5.000e+00, 1.000e+00, 5.800e+02]])

In [41]:
y = df['지원자'].values
y

array([6004, 3846, 7260, 6274, 6704])

In [42]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.916
Model:                            OLS   Adj. R-squared:                  0.666
Method:                 Least Squares   F-statistic:                     3.655
Date:                Thu, 13 May 2021   Prob (F-statistic):              0.363
Time:                        06:37:12   Log-Likelihood:                -36.196
No. Observations:                   5   AIC:                             80.39
Df Residuals:                       1   BIC:                             78.83
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        228.1049   2304.799      0.099      0.937   -2.91e+04    2.95e+04
x1           746.8911    317.704      2.351      0.256   -3289.918    4783.700
x2           581.7968    903.219      0.644      0.636   -1.09e+04    1.21e+04
x3             4.2584      2.457      1.733      0.333     -26.960      35.477
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.667
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.746
Skew:                           0.913   Prob(JB):                        0.689
Kurtosis:                       2.500   Cond. No.                     5.48e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.48e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/home/ubuntu/anaconda3/lib/python3.8/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [23]:
from sklearn.linear_model import LinearRegression

In [25]:
m = LinearRegression()

In [45]:
# m.fit( df[['기수','상반기','모집인원']],  df['지원자'] )
m.fit( df[['기수','상반기', 'D4']],  df['지원자'] )

LinearRegression()

In [46]:
df[['기수','상반기', 'D4']]

   기수  상반기    D4
0   1    1  1116
1   2    0   500
2   3    1   844
3   4    0   717
4   5    1   580

In [47]:
m.predict([[6,0, 705]])

array([7711.60665103])

In [48]:
m.coef_, m.intercept_

(array([746.89112936, 581.7968346 ,   4.25837578]), 228.10494860096696)