In [1]:
import numpy as np
import pandas as pd

In [4]:
D = pd.read_csv("DS_Sample_2.csv")

In [5]:
D.describe()

        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [6]:
D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  float64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  float64
 13  target                  19158 non-null  float64
 14  Xgrp                    19158 non-null  object
dtypes: float64(4), object(11)
memory usage: 2.2+ MB

In [8]:
D1 = D.drop( columns = ['city', 'company_size', 'company_type'])

In [9]:
D2 = D1.dropna()

In [10]:
D2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12477 entries, 0 to 19155
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12477 non-null  float64
 1   city_development_index  12477 non-null  float64
 2   gender                  12477 non-null  object
 3   relevant_experience     12477 non-null  object
 4   enrolled_university     12477 non-null  object
 5   education_level         12477 non-null  object
 6   major_discipline        12477 non-null  object
 7   experience              12477 non-null  object
 8   last_new_job            12477 non-null  object
 9   training_hours          12477 non-null  float64
 10  target                  12477 non-null  float64
 11  Xgrp                    12477 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.2+ MB

In [ ]:
D2.info()

In [16]:
D3 = D2[ (D2.experience != ">20") & (D2.experience != "<1") ]

In [18]:
D3['experience'] = D3.experience.astype(int)

<ipython-input-18-82eb774280b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D3['experience'] = D3.experience.astype(int)

5     833
4     744
6     738
10    713
9     682
3     678
7     674
8     525
15    514
2     512
11    492
14    424
16    388
12    370
13    301
17    272
19    233
1     227
18    217
20    116
Name: experience, dtype: int64

In [21]:
D3.last_new_job.value_counts()

1        4633
2        1687
>4       1313
never     818
3         618
4         584
Name: last_new_job, dtype: int64

In [23]:
D4 = D3[ (D3.last_new_job != ">4") & (D3.last_new_job != "never") ]

In [25]:
D4['last_new']  = D4.last_new_job.astype(int)

<ipython-input-25-36e4ea03a2aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D4['last_new']  = D4.last_new_job.astype(int)

In [26]:
D4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7522 entries, 8 to 19154
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             7522 non-null   float64
 1   city_development_index  7522 non-null   float64
 2   gender                  7522 non-null   object
 3   relevant_experience     7522 non-null   object
 4   enrolled_university     7522 non-null   object
 5   education_level         7522 non-null   object
 6   major_discipline        7522 non-null   object
 7   experience              7522 non-null   int64
 8   last_new_job            7522 non-null   object
 9   training_hours          7522 non-null   float64
 10  target                  7522 non-null   float64
 11  Xgrp                    7522 non-null   object
 12  last_new                7522 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 822.7+ KB

In [27]:
job2 = D4.copy()

In [29]:
pd.crosstab(job2.relevant_experience, job2.target)

target                    0.0   1.0
relevant_experience
Has relevant experience  4790  1319
No relevant experience    872   541

In [35]:
A = 541 / (872 + 541)
B = 1319 / (4790 + 1319)
A/B

1.7732927269634773

In [36]:
job2

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp,last_new
8,27107.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train,1
11,23853.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train,1
19,11399.0,0.827,Female,Has relevant experience,no_enrollment,Graduate,Arts,4,1,132.0,1.0,train,1
20,31972.0,0.843,Male,Has relevant experience,no_enrollment,Masters,STEM,11,1,68.0,0.0,train,1
21,19061.0,0.926,Male,Has relevant experience,no_enrollment,Masters,STEM,11,2,50.0,0.0,train,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19149,251.0,0.920,Male,Has relevant experience,no_enrollment,Masters,STEM,9,1,36.0,1.0,test,1
19150,32313.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,STEM,10,3,23.0,0.0,test,3
19152,29754.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,Humanities,7,1,25.0,0.0,test,1
19153,7386.0,0.878,Male,No relevant experience,no_enrollment,Graduate,Humanities,14,1,42.0,1.0,test,1
19154,31398.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,14,4,52.0,1.0,test,4

In [49]:
cat_ = job2[[ 'gender', 'relevant_experience', 'enrolled_university', 'education_level', 'major_discipline']]
pd.get_dummies(cat_).columns
# pd.get_dummies()

Index(['gender_Female', 'gender_Male', 'gender_Other',
       'relevant_experience_Has relevant experience',
       'relevant_experience_No relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_Graduate',
       'education_level_Masters', 'education_level_Phd',
       'major_discipline_Arts', 'major_discipline_Business Degree',
       'major_discipline_Humanities', 'major_discipline_No Major',
       'major_discipline_Other', 'major_discipline_STEM'],
      dtype='object')

In [51]:
dummies = pd.get_dummies(cat_)[[
       'gender_Female',
       'gender_Male',
#       'gender_Other',
       'relevant_experience_Has relevant experience',
#       'relevant_experience_No relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course',
#       'enrolled_university_no_enrollment',
       'education_level_Graduate',
       'education_level_Masters',
#       'education_level_Phd',
       'major_discipline_Arts',
       'major_discipline_Business Degree',
       'major_discipline_Humanities',
       'major_discipline_No Major',
       'major_discipline_Other',
#       'major_discipline_STEM'
]]

In [56]:
job2_2_X = pd.concat([
    job2[['city_development_index','experience','last_new_job','training_hours']],
    dummies
], axis = 1)
job2_2_X

,city_development_index,experience,last_new_job,training_hours,gender_Female,gender_Male,relevant_experience_Has relevant experience,enrolled_university_Full time course,enrolled_university_Part time course,education_level_Graduate,education_level_Masters,major_discipline_Arts,major_discipline_Business Degree,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other
8,0.920,7,1,46.0,0,1,1,0,0,1,0,0,0,0,0,0
11,0.920,5,1,108.0,0,1,1,0,0,1,0,0,0,0,0,0
19,0.827,4,1,132.0,1,0,1,0,0,1,0,1,0,0,0,0
20,0.843,11,1,68.0,0,1,1,0,0,0,1,0,0,0,0,0
21,0.926,11,2,50.0,0,1,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19149,0.920,9,1,36.0,0,1,1,0,0,0,1,0,0,0,0,0
19150,0.920,10,3,23.0,1,0,1,0,0,1,0,0,0,0,0,0
19152,0.920,7,1,25.0,1,0,1,0,0,1,0,0,0,1,0,0
19153,0.878,14,1,42.0,0,1,0,0,0,1,0,0,0,1,0,0
19154,0.920,14,4,52.0,0,1,1,0,0,1,0,0,0,0,0,0

In [58]:
job2[['target','Xgrp']]

       target   Xgrp
8         1.0  train
11        0.0  train
19        1.0  train
20        0.0  train
21        0.0  train
...       ...    ...
19149     1.0   test
19150     0.0   test
19152     0.0   test
19153     1.0   test
19154     1.0   test

[7522 rows x 2 columns]

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
reg = LogisticRegression(C=100000, random_state=1234)

In [70]:
reg.fit(job2_2_X, job2['target'].ravel())

/home/ubuntu/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=100000, random_state=1234)

In [67]:
reg.coef_

array([[-5.64346156e+00, -3.00904442e-02,  9.31654518e-02,
        -1.06863342e-03,  1.02571199e+00,  8.97873028e-01,
        -7.01219943e-01,  5.70678680e-01, -2.80577496e-01,
         1.24126064e+00,  9.74170149e-01, -1.36490365e-01,
        -5.71578475e-02,  3.33657483e-02,  3.14123400e-01,
        -5.32088704e-01]])

In [88]:
np.exp(reg.coef_)

array([[0.00354059, 0.97035777, 1.09764333, 0.99893194, 2.78908056,
        2.45437716, 0.49597987, 1.76946755, 0.75534741, 3.4599725 ,
        2.64896805, 0.87241473, 0.94444498, 1.03392863, 1.36905867,
        0.58737683]])

In [89]:
np.exp(reg.coef_).max()

3.459972495373093

In [94]:
test_X = job2_2_X[job2.Xgrp == 'test']
train_X = job2_2_X[job2.Xgrp == 'train']
test_y = job2[job2.Xgrp == 'test']['target']
train_y = job2[job2.Xgrp == 'train']['target']
test_X.shape, train_X.shape, test_y.shape, train_y.shape

((2816, 16), (4706, 16), (2816,), (4706,))

In [95]:
from sklearn.neighbors import KNeighborsClassifier

In [96]:
clf = KNeighborsClassifier(n_neighbors=5, p=2 )

In [97]:
clf.fit(train_X, train_y)

KNeighborsClassifier()

In [99]:
predicted = clf.predict(test_X)

In [108]:
pd.crosstab(predicted, test_y )

target   0.0  1.0
row_0
0.0     1901  615
1.0      191  109

In [109]:
(109 + 1901) / (1901+615+191+109)

0.7137784090909091