https://blog.naver.com/ostin1038/222105767245

In [2]:
import pandas as pd
df = pd.read_csv('data/onlineshopping_2020_utf.csv')
df

,product,type,month_1901,month_1902,month_1903,month_1904,month_1905,month_1906,month_1907,month_1908,...,month_1910,month_1911,month_1912,month_2001,month_2002,month_2003,month_2004,month_2005,month_2006,month_2007
0,컴퓨터 및 주변기기,Online몰,434184,425513,416954,359450,349242,293049,351168,347817,...,346520,429422,439891,427881,490913,539592,492947,433145,395492,449139
1,컴퓨터 및 주변기기,On/Offline몰,124000,114491,113246,107494,87940,93348,88892,97056,...,95724,94848,110935,122336,125555,148166,152329,157182,139613,159729
2,가전·전자·통신기기,Online몰,815497,777509,1020167,872620,1010222,954464,994591,975544,...,958461,1100752,990040,901511,1102016,1169419,1099848,1276940,1231775,1170832
3,가전·전자·통신기기,On/Offline몰,259333,227188,323541,284727,305485,253072,269057,246272,...,272768,278453,257020,257038,290352,310937,282579,320211,335006,269707
4,서적,Online몰,61006,56830,64719,51598,50590,41711,53078,55893,...,46244,57393,65475,63791,76215,86874,80878,67861,63475,73059
5,서적,On/Offline몰,114192,98762,133817,97239,83552,81414,104197,99546,...,88380,90821,114183,108520,115131,168657,125404,102855,108037,115789
6,사무·문구,Online몰,62910,55921,66139,64451,57129,50328,54580,53918,...,63161,66049,82304,61775,71032,71584,66270,67398,65919,70059
7,사무·문구,On/Offline몰,18393,16645,17067,17941,16294,14307,16202,16410,...,16598,20793,22873,20555,21607,21308,19159,18592,17842,18221
8,의복,Online몰,713306,612760,796183,771924,835746,738814,744468,581168,...,845147,1037237,882898,588246,556310,712193,708131,862164,833702,709213
9,의복,On/Offline몰,369925,328762,441400,423111,422732,365837,378827,311255,...,549251,641867,538978,451506,397237,477891,474577,505183,515958,409484
10,신발,Online몰,92636,92828,125874,123485,136745,128610,127605,104831,...,117488,135901,118812,100419,107517,116972,115932,149387,152848,136587
11,신발,On/Offline몰,49389,46724,57378,57926,57401,54696,55876,45001,...,67027,77725,74235,56229,56494,73830,77517,96785,98309,83313
12,가방,Online몰,132091,139085,154703,148691,152852,142669,139830,151054,...,155526,157912,164923,134464,140222,159442,144145,163709,175624,182071
13,가방,On/Offline몰,65451,67686,70251,64965,67237,63014,65100,66230,...,74050,68362,73456,69824,62630,54327,49083,55747,58442,51075
14,패션용품 및 액세서리,Online몰,100986,90280,108554,113203,126760,115519,123064,109625,...,103578,117587,129682,102709,106546,115715,103293,120370,125181,137837
15,패션용품 및 액세서리,On/Offline몰,88310,92737,100329,97720,104253,97069,105716,99786,...,99739,95691,110204,96760,75981,67932,65621,72863,66237,69607
16,스포츠·레저용품,Online몰,222862,203903,273262,298376,339410,304628,327760,282902,...,332427,346605,294927,235747,248860,310240,371933,413469,412526,433938
17,스포츠·레저용품,On/Offline몰,47316,43609,52866,56084,62457,52838,56733,48222,...,69651,65336,62205,48436,45028,55025,60085,75679,74487,72083
18,화장품,Online몰,310947,273097,298599,301515,308665,277767,284719,293711,...,330215,369481,338275,358359,375064,386951,364544,366167,343485,352795
19,화장품,On/Offline몰,587369,587971,725037,660198,680554,666100,700171,744113,...,825254,865140,852279,768690,674618,594913,596759,567914,640525,652664
20,아동·유아용품,Online몰,261522,241037,288753,305483,301063,264692,276445,265342,...,301077,311404,385190,296552,346418,367252,360867,366333,337957,349529
21,아동·유아용품,On/Offline몰,47440,41574,44850,44807,41883,36076,39197,40630,...,45003,46290,53993,42771,48321,48578,49075,46471,41181,36591
22,음·식료품,Online몰,801818,580801,693392,716594,754382,701266,722445,810616,...,796299,837644,838527,977880,1023994,1161920,1079496,1069805,1040994,1145899
23,음·식료품,On/Offline몰,395268,286978,333603,343243,354180,339751,367222,402393,...,389096,357811,373558,438563,457519,469571,440598,407767,409204,452780
24,농축수산물,Online몰,232819,134933,156942,164519,163589,155939,160515,177705,...,188027,200865,205061,287620,257567,318569,290546,266122,262633,304717
25,농축수산물,On/Offline몰,163085,86359,108962,106939,106403,100839,106992,127187,...,107874,107501,113847,181570,191302,198581,177627,150778,152330,157420
26,생활용품,Online몰,626797,559493,667167,638116,678197,629372,648933,666800,...,698537,731936,722306,753007,934534,1024784,892817,955096,960827,993587
27,생활용품,On/Offline몰,185299,181171,180434,162439,162924,163600,175543,184585,...,185507,176588,182222,234945,199826,220661,198648,205027,214349,226554
28,자동차 및 자동차용품,Online몰,89715,73389,95897,91268,96325,88640,88968,90982,...,95393,98670,98198,92550,110447,124466,123593,134715,138229,147612
29,자동차 및 자동차용품,On/Offline몰,5910,5524,10101,5078,8912,9037,7094,19468,...,9965,59247,16053,20028,49751,86083,8787,7535,121479,9357
30,가구,Online몰,204660,202400,229595,212839,217143,200422,194248,214001,...,242182,256109,254468,232196,291456,350322,324053,319206,317369,308667
31,가구,On/Offline몰,75273,67315,75545,70753,67471,68091,67314,60216,...,77715,67635,63559,64854,72738,84920,81762,84231,82857,76911
32,애완용품,Online몰,66567,58565,66076,68764,70347,71067,70951,69313,...,79300,77826,78214,77872,77848,82214,81441,81573,79070,87150
33,애완용품,On/Offline몰,5017,5293,5543,5508,5486,5315,5611,6543,...,7579,6868,7001,6680,7381,9343,8884,8863,8888,8921
34,여행 및 교통서비스,Online몰,597649,562649,534018,550916,627839,627751,737542,750244,...,613208,619574,682977,648961,305014,184989,204635,249526,279701,388894
35,여행 및 교통서비스,On/Offline몰,908464,818683,811122,808915,824854,813966,868470,874915,...,819914,820586,885817,892642,405487,178308,235936,307924,318332,389032
36,문화 및 레저서비스,Online몰,85382,77385,113274,101658,101167,115318,98633,99123,...,113502,111824,101793,87114,31474,10434,18169,38038,24734,37532
37,문화 및 레저서비스,On/Offline몰,77867,97501,67861,78113,73011,110062,96858,98062,...,74166,85344,81647,72591,27162,9707,7475,10683,18505,25437
38,e쿠폰서비스,Online몰,232803,228349,251343,220570,267852,252261,274150,302320,...,293518,360247,335609,301980,321712,346508,332679,338491,308064,328770
39,e쿠폰서비스,On/Offline몰,3286,1965,2187,1891,3950,4225,4325,1826,...,3095,3139,2994,3742,2397,2054,1400,1166,1155,3341
40,음식서비스,Online몰,587656,584938,664528,656805,710904,740043,791673,874802,...,868724,984015,1012605,1025555,1091002,1201278,1216515,1270339,1208333,1331099
41,음식서비스,On/Offline몰,36264,31904,47582,30809,33062,35303,37046,39449,...,39008,36508,39198,38321,44017,50645,46502,50057,44078,46915
42,기타서비스,Online몰,55876,38802,38076,36711,45607,47517,54472,87760,...,84726,99866,139945,137370,127666,48918,91138,63641,68735,72608
43,기타서비스,On/Offline몰,24426,20438,25500,25674,30131,25582,29731,25509,...,20696,18781,19257,19888,17958,15624,23395,26245,25535,26703
44,기타,Online몰,242005,242274,356637,218541,223941,184792,205617,229300,...,222554,223302,225559,356645,348590,333549,279338,355222,336553,358667
45,기타,On/Offline몰,40015,25285,30102,31967,27524,24027,25636,29188,...,37319,35141,41459,38070,32346,53482,39133,34176,28830,30640

Q1

In [3]:
# Q1. Online몰 상품군별 19년 1월부터 20년 7월까지 월평균을 구하시오. 이중 월평균이 3번째로 높은 상품은 무엇인가?

In [23]:
df2 = df.melt(id_vars=['product','type'], var_name='mon')

In [32]:
df2[(df2.type=='Online몰')].groupby(by='product').mean().sort_values(by='value', ascending = False)

                    value
product
가전·전자·통신기기   1.017467e+06
음식서비스        9.282078e+05
음·식료품        8.733476e+05
생활용품         7.598137e+05
의복           7.494290e+05
여행 및 교통서비스   5.118751e+05
컴퓨터 및 주변기기   4.087824e+05
화장품          3.278603e+05
스포츠·레저용품     3.126622e+05
아동·유아용품      3.109244e+05
e쿠폰서비스       2.929834e+05
기타           2.713099e+05
가구           2.523506e+05
농축수산물        2.180488e+05
가방           1.522015e+05
신발           1.206543e+05
패션용품 및 액세서리  1.133787e+05
자동차 및 자동차용품  1.068645e+05
기타서비스        7.769053e+04
문화 및 레저서비스   7.671011e+04
애완용품         7.456821e+04
사무·문구        6.352453e+04
서적           6.143021e+04

In [33]:
df2.shape

(874, 4)

Q2

In [34]:
# 다음 중 애완용품의 Online몰 거래액 중 지난달 대비 가장 높은 상승률을 보인 월은 언제인지 확인하시오.(소수 셋째자리까지 나타내시오)

In [38]:
#df3 = df2.loc[(df2['product']=='애완용품')&(df2['type']=='Online몰')]
#df3.head()
df3 = df2[(df2['product']=='애완용품')&(df2['type']=='Online몰')][['mon', 'value']].set_index('mon')

In [46]:
df3['prev'] = df3['value'].shift(1)

In [47]:
df3

            value     prev
mon
month_1901  66567      NaN
month_1902  58565  66567.0
month_1903  66076  58565.0
month_1904  68764  66076.0
month_1905  70347  68764.0
month_1906  71067  70347.0
month_1907  70951  71067.0
month_1908  69313  70951.0
month_1909  72638  69313.0
month_1910  79300  72638.0
month_1911  77826  79300.0
month_1912  78214  77826.0
month_2001  77872  78214.0
month_2002  77848  77872.0
month_2003  82214  77848.0
month_2004  81441  82214.0
month_2005  81573  81441.0
month_2006  79070  81573.0
month_2007  87150  79070.0

In [48]:
df3['incr'] = df3['value'] / df3['prev']

In [51]:
df3.sort_values(by='incr', ascending=False)

            value     prev      incr
mon
month_1903  66076  58565.0  1.128251
month_2007  87150  79070.0  1.102188
month_1910  79300  72638.0  1.091715
month_2003  82214  77848.0  1.056084
month_1909  72638  69313.0  1.047971
month_1904  68764  66076.0  1.040680
month_1905  70347  68764.0  1.023021
month_1906  71067  70347.0  1.010235
month_1912  78214  77826.0  1.004985
month_2005  81573  81441.0  1.001621
month_2002  77848  77872.0  0.999692
month_1907  70951  71067.0  0.998368
month_2001  77872  78214.0  0.995627
month_2004  81441  82214.0  0.990598
month_1911  77826  79300.0  0.981412
month_1908  69313  70951.0  0.976914
month_2006  79070  81573.0  0.969316
month_1902  58565  66567.0  0.879790
month_1901  66567      NaN       NaN

In [52]:
df3

            value     prev      incr
mon
month_1901  66567      NaN       NaN
month_1902  58565  66567.0  0.879790
month_1903  66076  58565.0  1.128251
month_1904  68764  66076.0  1.040680
month_1905  70347  68764.0  1.023021
month_1906  71067  70347.0  1.010235
month_1907  70951  71067.0  0.998368
month_1908  69313  70951.0  0.976914
month_1909  72638  69313.0  1.047971
month_1910  79300  72638.0  1.091715
month_1911  77826  79300.0  0.981412
month_1912  78214  77826.0  1.004985
month_2001  77872  78214.0  0.995627
month_2002  77848  77872.0  0.999692
month_2003  82214  77848.0  1.056084
month_2004  81441  82214.0  0.990598
month_2005  81573  81441.0  1.001621
month_2006  79070  81573.0  0.969316
month_2007  87150  79070.0  1.102188

Q3

In [ ]:
# 월별 Online몰, On/OFFline몰 거래액 전체 합계를 구하고 지수 가중 이동평균 평활법(EWMA)을 사용하여
# 20년 7월 예측된 거래액 전체 합계와 실제 값을 비교하여 MAPE(평균절대백분율 오차)를 구하시오
#
# - 기간은 4, a값은 0.8을 사용할 것, 소수 셋째자리는 버리고 둘째자리까지

In [56]:
df4 = df2.groupby(by='mon').sum()
df4

               value
mon
month_1901  10722986
month_1902   9607306
month_1903  11259176
month_1904  10671638
month_1905  11253413
month_1906  10604208
month_1907  11197265
month_1908  11278633
month_1909  11261481
month_1910  11871193
month_1911  12852096
month_1912  12684652
month_2001  12304763
month_2002  11963255
month_2003  12624728
month_2004  12065543
month_2005  12742651
month_2006  12684405
month_2007  12962535

In [55]:
df4.shape

(19, 1)

In [57]:
df4['pred'] = df4['value'].ewm(min_periods=4, alpha=0.8).mean()

In [58]:
df4.tail()

               value          pred
mon
month_2003  12624728  1.250905e+07
month_2004  12065543  1.215424e+07
month_2005  12742651  1.262497e+07
month_2006  12684405  1.267252e+07
month_2007  12962535  1.290453e+07

In [59]:
pred = df4.loc[ 'month_2007','pred']
real = df4.loc['month_2007', 'value']
pred, real

(12904531.583352549, 12962535)

In [63]:
import numpy as np
#mape - mean absolute percent error
np.abs(pred-real)/real*100

0.4474697013157611

In [ ]:
# => 0.447 %