In [1]:
# https://blog.naver.com/ostin1038/222179773303

In [2]:
import numpy as np
import pandas as pd

In [4]:
d1 = pd.read_csv('data/company_info_19.csv')
d2 = pd.read_csv('data/company_financial_19.csv')
d3 = pd.read_csv('data/company_dividen_19.csv')

In [10]:
D = pd.merge(pd.merge(d1, d2, on="com_code"), d3, on="com_code")
D

,com_code,com_name,com_induty_code,Revenue_19,OperatingIncomeLoss_19,com_netincome_19,CostOfSales_19,Expenses_19,Equity_19,Assets_19,Liabilities_19,CurrentAssets_19,Inventories_19,CurrentLiabilities_19,IssuedCapital_19,CapitalSurplus_19,RetainedEarnings_19,com_totaldevidend_19
0,550994,**이센스,27112,1.898443e+11,3.017284e+10,2.342600e+10,1.030629e+11,5.660853e+10,2.010913e+11,2.700423e+11,6.895105e+10,1.289834e+11,3.167298e+10,4.179191e+10,6.868619e+09,4.570621e+10,1.543466e+11,2.719000e+09
1,439965,**노신소재,2049,4.889296e+10,5.143898e+09,5.801000e+09,2.957532e+10,1.417374e+10,9.378759e+10,1.018936e+11,8.105979e+09,7.451286e+10,3.775514e+10,5.326867e+09,5.424166e+09,3.774182e+10,5.142732e+10,1.336000e+09
2,136226,**성델타테크,28519,4.536541e+11,1.034706e+10,5.282000e+09,4.054397e+11,3.649730e+10,1.338046e+11,3.486843e+11,2.148798e+11,1.436024e+11,2.643228e+10,1.670900e+11,1.208855e+10,1.204830e+10,1.054255e+11,1.884000e+09
3,370918,**이디켐,2049,4.878405e+10,6.421048e+09,7.492000e+09,3.621801e+10,6.144990e+09,7.726863e+10,8.329009e+10,6.021464e+09,3.957281e+10,1.064376e+10,3.098389e+09,2.017400e+09,1.866515e+10,5.759707e+10,1.948000e+09
4,305297,**텍,26519,2.852587e+11,3.312938e+10,3.076100e+10,2.141326e+11,3.799671e+10,3.179404e+11,3.530914e+11,3.515098e+10,2.420904e+11,5.876160e+10,3.148147e+10,7.787276e+09,6.252208e+10,2.399925e+11,5.948000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,604426,**터로조,271,9.256856e+10,2.261802e+10,1.755500e+10,4.433080e+10,2.561974e+10,1.314572e+11,1.811241e+11,4.966688e+10,1.090311e+11,2.138814e+10,4.503702e+10,5.672260e+09,1.204253e+10,1.183204e+11,3.324000e+09
296,198378,**십자셀,21102,3.790330e+10,5.691697e+09,1.101600e+10,1.612531e+10,1.608629e+10,8.509598e+10,1.537220e+11,6.862602e+10,4.556489e+10,2.862410e+09,4.892753e+10,6.054943e+09,5.710332e+10,2.329111e+10,1.206000e+09
297,155531,**산홀딩스,64992,2.644147e+11,1.079065e+10,2.399500e+10,2.308476e+11,2.277653e+10,7.223237e+11,9.386302e+11,2.163066e+11,1.935288e+11,7.764142e+10,1.679989e+11,4.517584e+10,2.859277e+11,4.351428e+11,9.089000e+09
298,128980,**호개발,421,3.645817e+11,2.356598e+10,2.157100e+10,3.271263e+11,1.388939e+10,1.907485e+11,2.987821e+11,1.080337e+11,1.795982e+11,1.687276e+10,9.542042e+10,1.250000e+10,2.389986e+10,1.652823e+11,4.512000e+09
299,1067516,**프존,58219,2.470181e+11,3.229749e+10,1.621400e+10,9.385957e+10,1.208610e+11,2.000429e+11,3.125873e+11,1.125444e+11,8.173047e+10,1.088018e+10,6.106613e+10,3.137708e+09,7.203253e+10,1.271765e+11,1.285900e+10

In [17]:
D['devidend_ratio'] = np.round(D.com_totaldevidend_19 / D.com_netincome_19, decimals=3)
D

,com_code,com_name,com_induty_code,Revenue_19,OperatingIncomeLoss_19,com_netincome_19,CostOfSales_19,Expenses_19,Equity_19,Assets_19,Liabilities_19,CurrentAssets_19,Inventories_19,CurrentLiabilities_19,IssuedCapital_19,CapitalSurplus_19,RetainedEarnings_19,com_totaldevidend_19,devidend_ratio
0,550994,**이센스,27112,1.898443e+11,3.017284e+10,2.342600e+10,1.030629e+11,5.660853e+10,2.010913e+11,2.700423e+11,6.895105e+10,1.289834e+11,3.167298e+10,4.179191e+10,6.868619e+09,4.570621e+10,1.543466e+11,2.719000e+09,0.116
1,439965,**노신소재,2049,4.889296e+10,5.143898e+09,5.801000e+09,2.957532e+10,1.417374e+10,9.378759e+10,1.018936e+11,8.105979e+09,7.451286e+10,3.775514e+10,5.326867e+09,5.424166e+09,3.774182e+10,5.142732e+10,1.336000e+09,0.230
2,136226,**성델타테크,28519,4.536541e+11,1.034706e+10,5.282000e+09,4.054397e+11,3.649730e+10,1.338046e+11,3.486843e+11,2.148798e+11,1.436024e+11,2.643228e+10,1.670900e+11,1.208855e+10,1.204830e+10,1.054255e+11,1.884000e+09,0.357
3,370918,**이디켐,2049,4.878405e+10,6.421048e+09,7.492000e+09,3.621801e+10,6.144990e+09,7.726863e+10,8.329009e+10,6.021464e+09,3.957281e+10,1.064376e+10,3.098389e+09,2.017400e+09,1.866515e+10,5.759707e+10,1.948000e+09,0.260
4,305297,**텍,26519,2.852587e+11,3.312938e+10,3.076100e+10,2.141326e+11,3.799671e+10,3.179404e+11,3.530914e+11,3.515098e+10,2.420904e+11,5.876160e+10,3.148147e+10,7.787276e+09,6.252208e+10,2.399925e+11,5.948000e+09,0.193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,604426,**터로조,271,9.256856e+10,2.261802e+10,1.755500e+10,4.433080e+10,2.561974e+10,1.314572e+11,1.811241e+11,4.966688e+10,1.090311e+11,2.138814e+10,4.503702e+10,5.672260e+09,1.204253e+10,1.183204e+11,3.324000e+09,0.189
296,198378,**십자셀,21102,3.790330e+10,5.691697e+09,1.101600e+10,1.612531e+10,1.608629e+10,8.509598e+10,1.537220e+11,6.862602e+10,4.556489e+10,2.862410e+09,4.892753e+10,6.054943e+09,5.710332e+10,2.329111e+10,1.206000e+09,0.109
297,155531,**산홀딩스,64992,2.644147e+11,1.079065e+10,2.399500e+10,2.308476e+11,2.277653e+10,7.223237e+11,9.386302e+11,2.163066e+11,1.935288e+11,7.764142e+10,1.679989e+11,4.517584e+10,2.859277e+11,4.351428e+11,9.089000e+09,0.379
298,128980,**호개발,421,3.645817e+11,2.356598e+10,2.157100e+10,3.271263e+11,1.388939e+10,1.907485e+11,2.987821e+11,1.080337e+11,1.795982e+11,1.687276e+10,9.542042e+10,1.250000e+10,2.389986e+10,1.652823e+11,4.512000e+09,0.209
299,1067516,**프존,58219,2.470181e+11,3.229749e+10,1.621400e+10,9.385957e+10,1.208610e+11,2.000429e+11,3.125873e+11,1.125444e+11,8.173047e+10,1.088018e+10,6.106613e+10,3.137708e+09,7.203253e+10,1.271765e+11,1.285900e+10,0.793

In [26]:
D = D[ D.devidend_ratio > 0 ]
D

,com_code,com_name,com_induty_code,Revenue_19,OperatingIncomeLoss_19,com_netincome_19,CostOfSales_19,Expenses_19,Equity_19,Assets_19,Liabilities_19,CurrentAssets_19,Inventories_19,CurrentLiabilities_19,IssuedCapital_19,CapitalSurplus_19,RetainedEarnings_19,com_totaldevidend_19,devidend_ratio
0,550994,**이센스,27112,1.898443e+11,3.017284e+10,2.342600e+10,1.030629e+11,5.660853e+10,2.010913e+11,2.700423e+11,6.895105e+10,1.289834e+11,3.167298e+10,4.179191e+10,6.868619e+09,4.570621e+10,1.543466e+11,2.719000e+09,0.116
1,439965,**노신소재,2049,4.889296e+10,5.143898e+09,5.801000e+09,2.957532e+10,1.417374e+10,9.378759e+10,1.018936e+11,8.105979e+09,7.451286e+10,3.775514e+10,5.326867e+09,5.424166e+09,3.774182e+10,5.142732e+10,1.336000e+09,0.230
2,136226,**성델타테크,28519,4.536541e+11,1.034706e+10,5.282000e+09,4.054397e+11,3.649730e+10,1.338046e+11,3.486843e+11,2.148798e+11,1.436024e+11,2.643228e+10,1.670900e+11,1.208855e+10,1.204830e+10,1.054255e+11,1.884000e+09,0.357
3,370918,**이디켐,2049,4.878405e+10,6.421048e+09,7.492000e+09,3.621801e+10,6.144990e+09,7.726863e+10,8.329009e+10,6.021464e+09,3.957281e+10,1.064376e+10,3.098389e+09,2.017400e+09,1.866515e+10,5.759707e+10,1.948000e+09,0.260
4,305297,**텍,26519,2.852587e+11,3.312938e+10,3.076100e+10,2.141326e+11,3.799671e+10,3.179404e+11,3.530914e+11,3.515098e+10,2.420904e+11,5.876160e+10,3.148147e+10,7.787276e+09,6.252208e+10,2.399925e+11,5.948000e+09,0.193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,604426,**터로조,271,9.256856e+10,2.261802e+10,1.755500e+10,4.433080e+10,2.561974e+10,1.314572e+11,1.811241e+11,4.966688e+10,1.090311e+11,2.138814e+10,4.503702e+10,5.672260e+09,1.204253e+10,1.183204e+11,3.324000e+09,0.189
296,198378,**십자셀,21102,3.790330e+10,5.691697e+09,1.101600e+10,1.612531e+10,1.608629e+10,8.509598e+10,1.537220e+11,6.862602e+10,4.556489e+10,2.862410e+09,4.892753e+10,6.054943e+09,5.710332e+10,2.329111e+10,1.206000e+09,0.109
297,155531,**산홀딩스,64992,2.644147e+11,1.079065e+10,2.399500e+10,2.308476e+11,2.277653e+10,7.223237e+11,9.386302e+11,2.163066e+11,1.935288e+11,7.764142e+10,1.679989e+11,4.517584e+10,2.859277e+11,4.351428e+11,9.089000e+09,0.379
298,128980,**호개발,421,3.645817e+11,2.356598e+10,2.157100e+10,3.271263e+11,1.388939e+10,1.907485e+11,2.987821e+11,1.080337e+11,1.795982e+11,1.687276e+10,9.542042e+10,1.250000e+10,2.389986e+10,1.652823e+11,4.512000e+09,0.209
299,1067516,**프존,58219,2.470181e+11,3.229749e+10,1.621400e+10,9.385957e+10,1.208610e+11,2.000429e+11,3.125873e+11,1.125444e+11,8.173047e+10,1.088018e+10,6.106613e+10,3.137708e+09,7.203253e+10,1.271765e+11,1.285900e+10,0.793

In [28]:
D.describe()

,com_code,com_induty_code,Revenue_19,OperatingIncomeLoss_19,com_netincome_19,CostOfSales_19,Expenses_19,Equity_19,Assets_19,Liabilities_19,CurrentAssets_19,Inventories_19,CurrentLiabilities_19,IssuedCapital_19,CapitalSurplus_19,RetainedEarnings_19,com_totaldevidend_19,devidend_ratio
count,2.770000e+02,277.000000,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,2.770000e+02,277.000000
mean,3.131762e+05,17953.144404,1.871304e+12,9.103040e+10,5.369450e+10,1.572820e+12,2.042558e+11,1.216635e+12,2.806417e+12,1.589783e+12,8.715936e+11,2.305926e+11,6.535509e+11,5.048712e+10,2.075107e+11,7.847479e+11,1.580725e+10,0.382025
std,2.580435e+05,20437.088065,5.909267e+12,2.551320e+11,1.683269e+11,5.270562e+12,6.378425e+11,4.199247e+12,1.281940e+13,1.033402e+13,2.524629e+12,7.614653e+11,2.220145e+12,2.386063e+11,8.630288e+11,3.141167e+12,5.759365e+10,0.708417
min,1.021130e+05,106.000000,6.711616e+08,-4.080431e+09,1.450000e+08,4.481853e+08,1.638219e+07,1.305223e+09,1.399329e+09,9.410662e+07,8.883687e+08,0.000000e+00,9.307629e+07,2.104814e+08,-2.084400e+11,-7.850206e+09,1.780000e+08,0.011000
25%,1.349630e+05,465.000000,1.318643e+11,7.969510e+09,5.684000e+09,8.725580e+10,1.608629e+10,1.018946e+11,1.572341e+11,4.717396e+10,7.762467e+10,1.512119e+10,3.498655e+10,5.800000e+09,1.120777e+10,6.739440e+10,1.306000e+09,0.139000
50%,1.846670e+05,13101.000000,2.810230e+11,1.887323e+10,1.534100e+10,2.208586e+11,3.416664e+10,2.144358e+11,3.320196e+11,1.143191e+11,1.675123e+11,3.775514e+10,8.848484e+10,1.090384e+10,2.852019e+10,1.309564e+11,2.830000e+09,0.236000
75%,3.987920e+05,28121.000000,9.540392e+11,4.740402e+10,3.112300e+10,7.809523e+11,1.020592e+11,5.872991e+11,1.036929e+12,3.798664e+11,4.005957e+11,1.155875e+11,2.620802e+11,2.243331e+10,7.388437e+10,3.666990e+11,7.434000e+09,0.390000
max,1.168143e+06,91249.000000,5.041240e+13,2.712718e+12,2.013288e+12,4.674561e+13,5.452740e+12,4.794320e+13,1.822862e+14,1.640222e+14,1.996051e+13,6.495210e+12,1.875768e+13,3.657652e+12,1.046696e+13,4.293068e+13,6.840020e+11,7.993000

In [32]:
Q1 = np.quantile(D.devidend_ratio, 0.25)
Q3 = np.quantile(D.devidend_ratio, 0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR
Q1, Q3, IQR, lower, upper

(0.139, 0.39, 0.251, -0.2375, 0.7665)

In [34]:
D = D[ (D.devidend_ratio > lower) & (D.devidend_ratio < upper) ]

In [35]:
D.shape

(260, 19)

In [36]:
# Q1
_ = """
문제1) 배당 성향 평균이 가장 높은 업종은 어디인가? 이때 업종 수가 5개 미만인 업종은 제외하고 확인한다. 
    업종 코드와 함께 배당성향 평균을 소수 둘째자리 까지 구하시오(소수 셋째자리에서 버림)

"""

In [53]:
df1 = D.groupby("com_induty_code").devidend_ratio.agg(['mean', 'count'])
df1

                  mean  count
com_induty_code
106              0.431      1
132              0.272      1
139              0.073      1
141              0.124      1
171              0.070      1
...                ...    ...
72111            0.090      1
72911            0.034      1
73203            0.544      1
85503            0.265      1
91249            0.564      1

[160 rows x 2 columns]

In [55]:
df1[ (df1['count'] >= 5) ].sort_values(by="mean", ascending=False)

                     mean  count
com_induty_code
20423            0.310600      5
303              0.297643     14
204              0.294667      6
201              0.280600      5
21210            0.254500      6
29271            0.219750      8
64992            0.203308     13

In [56]:
# Q2
_ = """
문제2) 각종 기업분석 안전성 지표들을 산출해 내고 
       이것이 배당성향에 얼마만큼 영향을 미치는지 상관관계를 살펴보고자 한다. 
       문제1번아래 6가지 지표를 파생변수로 만들고 이 6가지 지표 중 
       문제 1번을 통해 생성한 배당성향과의 상관계수 절대값이 가장 높은 변수는 무엇인지 쓰고 
       상관계수 절대값을 확인하라(피어슨 방식 활용, 소수점 셋째자리에서 버림, 둘째자리까지 나타내시오)

변수명 정의

Operating_margin 영업이익률: 영업이익/매출액
Netprofit_margin 순이익률: 당기순이익/매출액
Dept_ratio 부채비율: 부채총계/자본총계
Banker_ratio 유동비율: 유동자산/유동부채
Quick_ratio 당좌비율: ( 유동자산 - 재고자산 ) / 유동부채
Reserve_ration 유보율: (자본잉여금 + 이익잉여금) / (납입)자본금

"""

In [61]:
D['Operating_margin'] = D['OperatingIncomeLoss_19'] / D['Revenue_19']
D['Netprofit_margin'] = D['com_netincome_19'] / D['Revenue_19']
D['Dept_ratio'] = D['Liabilities_19'] / D['Equity_19']
D['Banker_ratio'] = D['CurrentAssets_19'] / D['CurrentLiabilities_19']
D['Quick_ratio'] = (D['CurrentAssets_19']-D['Inventories_19'] )/ D['CurrentLiabilities_19']
D['Reserve_ration'] = (D['CapitalSurplus_19']+D['RetainedEarnings_19']) / D['IssuedCapital_19']

<ipython-input-61-aea638e4bb2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Operating_margin'] = D['OperatingIncomeLoss_19'] / D['Revenue_19']
<ipython-input-61-aea638e4bb2d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Netprofit_margin'] = D['com_netincome_19'] / D['Revenue_19']
<ipython-input-61-aea638e4bb2d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Dept_ratio'] = D['Liabilities_19'] / D['Equity_19']
<ipython-input-61-aea638e4bb2d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Banker_ratio'] = D['CurrentAssets_19'] / D['CurrentLiabilities_19']
<ipython-input-61-aea638e4bb2d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Quick_ratio'] = (D['CurrentAssets_19']-D['Inventories_19'] )/ D['CurrentLiabilities_19']
<ipython-input-61-aea638e4bb2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['Reserve_ration'] = (D['CapitalSurplus_19']+D['RetainedEarnings_19']) / D['IssuedCapital_19']

In [62]:
D[['devidend_ratio',
   'Operating_margin','Netprofit_margin','Dept_ratio','Banker_ratio','Quick_ratio','Reserve_ration'
  ]]

,devidend_ratio,Operating_margin,Netprofit_margin,Dept_ratio,Banker_ratio,Quick_ratio,Reserve_ration
0,0.116,0.158935,0.123396,0.342884,3.086324,2.328451,29.125619
1,0.230,0.105207,0.118647,0.086429,13.988121,6.900438,16.439232
2,0.357,0.022808,0.011643,1.605923,0.859431,0.701239,9.717772
3,0.260,0.131622,0.153575,0.077929,12.772058,9.336801,37.802228
4,0.193,0.116138,0.107835,0.110558,7.689932,5.823386,38.847296
...,...,...,...,...,...,...,...
294,0.087,0.101937,0.088066,0.450273,2.073971,1.611811,12.056712
295,0.189,0.244338,0.189643,0.377818,2.420923,1.946022,22.982538
296,0.109,0.150164,0.290634,0.806454,0.931273,0.872770,13.277488
297,0.379,0.040810,0.090748,0.299459,1.151965,0.689811,15.961419
298,0.209,0.064638,0.059166,0.566367,1.882177,1.705352,15.134575

In [63]:
D[['devidend_ratio',
   'Operating_margin','Netprofit_margin','Dept_ratio','Banker_ratio','Quick_ratio','Reserve_ration'
  ]].corr(method='pearson')

,devidend_ratio,Operating_margin,Netprofit_margin,Dept_ratio,Banker_ratio,Quick_ratio,Reserve_ration
devidend_ratio,1.000000,-0.245526,-0.096230,0.064004,0.157897,0.152946,-0.040060
Operating_margin,-0.245526,1.000000,0.220141,-0.030149,0.033658,0.051132,-0.039812
Netprofit_margin,-0.096230,0.220141,1.000000,-0.054735,0.151984,0.189096,-0.025421
Dept_ratio,0.064004,-0.030149,-0.054735,1.000000,-0.369582,-0.346580,-0.055960
Banker_ratio,0.157897,0.033658,0.151984,-0.369582,1.000000,0.971936,-0.009860
Quick_ratio,0.152946,0.051132,0.189096,-0.346580,0.971936,1.000000,-0.012993
Reserve_ration,-0.040060,-0.039812,-0.025421,-0.055960,-0.009860,-0.012993,1.000000

In [64]:
# Q3
_ = """
문제3) 배당성향을 예측하는 모델을 만들고자 한다. 
       의사결정나무(Decision Tree)를 활용한 회귀분석을 하고자 한다.
       먼저 트레인셋, 테스트 셋을 7:3 으로 분할하며
       (sklearn.model_selection 라이브러리 train_test_split 함수 활용, Seed: 1234) 
       트레인셋을 바탕으로 아래 변수들을 바탕으로 학습해 테스트셋 종속변수를 예측하고자 한다. 
       다음 문제 2에서 추가한 변수 6개를 바탕으로 독립변수로 지정하고 배당성향을 종속변수로 한다. 

독립변수: 영업이익률, 순이익률, 부채비율, 유동비율, 당좌비율, 유보율
종속변수: 배당성향
옵션값: Criterion-MSE, Splitter-Best, Max Depth- 7, Max Features - 5, Seed - 1234 나머지 디폴트
        (sklearn.tree 라이브러리에서 DecisionTreeRegressor 함수를 활용할 것) 
        

테스트셋 78개에 대해 예측한 배당성향과 실제 배당성향 유클리디언 거리를 각각 측정하고 평균을 내시오.
(소수 셋째자리에서 버리고 둘째자리까지 나타내시오) 

"""

In [66]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, X_test, y_train, y_test = train_test_split(
    D[['Operating_margin','Netprofit_margin','Dept_ratio','Banker_ratio','Quick_ratio','Reserve_ration']],
    D['devidend_ratio'],
    test_size=0.3, random_state=1234)

In [69]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((182, 6), (78, 6), (182,), (78,))

In [65]:
from sklearn.tree import DecisionTreeRegressor

In [70]:
model = DecisionTreeRegressor(criterion="mse",splitter='best', max_depth=7, max_features=5, random_state=1234)

In [71]:
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=7, max_features=5, random_state=1234)

In [74]:
pred = model.predict(X_test)
pred

array([0.25842424, 0.17430769, 0.05916667, 0.25842424, 0.17430769,
       0.431     , 0.25842424, 0.17430769, 0.17430769, 0.387     ,
       0.25842424, 0.25842424, 0.58816667, 0.25842424, 0.745     ,
       0.17430769, 0.29125   , 0.17430769, 0.29125   , 0.405     ,
       0.528     , 0.564     , 0.405     , 0.743     , 0.405     ,
       0.17430769, 0.17430769, 0.346     , 0.17430769, 0.25842424,
       0.25842424, 0.154625  , 0.39      , 0.17430769, 0.17430769,
       0.29125   , 0.3605    , 0.169     , 0.3605    , 0.3605    ,
       0.3305    , 0.58816667, 0.16066667, 0.562     , 0.229     ,
       0.562     , 0.065     , 0.17430769, 0.17430769, 0.17430769,
       0.25842424, 0.25842424, 0.25842424, 0.562     , 0.743     ,
       0.564     , 0.745     , 0.0845    , 0.17430769, 0.17430769,
       0.25842424, 0.387     , 0.25842424, 0.745     , 0.562     ,
       0.146     , 0.3605    , 0.05916667, 0.163     , 0.16066667,
       0.25842424, 0.112     , 0.431     , 0.405     , 0.346     ,
       0.16066667, 0.528     , 0.17430769])

In [73]:
y_test

225    0.590
191    0.024
131    0.080
226    0.107
213    0.167
       ...
117    0.502
221    0.292
265    0.127
172    0.145
236    0.094
Name: devidend_ratio, Length: 78, dtype: float64

In [78]:
pd.DataFrame({'true':y_test, 'pred':pred })

         pred   true
225  0.258424  0.590
191  0.174308  0.024
131  0.059167  0.080
226  0.258424  0.107
213  0.174308  0.167
..        ...    ...
117  0.405000  0.502
221  0.346000  0.292
265  0.160667  0.127
172  0.528000  0.145
236  0.174308  0.094

[78 rows x 2 columns]

In [96]:
np.mean(
    np.sqrt((pred - y_test)**2)
)

0.16210102130775203

In [97]:
# 간단히
np.abs(t['true']-t['pred']).mean() # 1차원 이니까...

0.16210102130775203